{{ if not .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {{- $position := 1 }}
    {{- range .Ancestors.Reverse }}
    {
      "@type": "ListItem",
      "position": {{ $position }},
      "name": "{{ .Title | plainify }}",
      "item": "{{ .Permalink }}"
    }{{ if ne $position (len $.Ancestors) }},{{ end }}
    {{- $position = add $position 1 }}
    {{- end }}
    {
      "@type": "ListItem",
      "position": {{ $position }},
      "name": "{{ .Title | plainify }}"
    }
  ]
}
</script>
{{ end }}