# Configuration of Hugo
baseURL: "https://lgrando1.github.io"
title: "Leonardo Grando"

############################
## LANGUAGE
############################
defaultContentLanguage: en
hasCJKLanguage: false
defaultContentLanguageInSubdir: false
removePathAccents: true

############################
## ADVANCED
############################
build:
  writeStats: true
enableGitInfo: false
summaryLength: 30
pagination:
  pagerSize: 10
enableEmoji: true
enableRobotsTXT: true
footnotereturnlinkcontents: <sup>^</sup>
ignoreFiles: [".ipynb_checkpoints$", "\\.Rmd$", "\\.Rmarkdown$", "_cache$"]
disableAliases: true

outputs:
  home: [HTML, RSS, headers, redirects, backlinks]
  section: [HTML, RSS]

imaging:
  resampleFilter: lanczos
  quality: 90
  anchor: smart
  hint: picture

timeout: 600000

taxonomies:
  author: authors
  tag: tags
  publication_type: publication_types

# Configuração de URLs amigáveis
permalinks:
  post: /post/:slug/

# Resolve o problema de nomes vazios em seções para o Google
content:
  page_types:
    post:
      name: "Blog"

markup:
  _merge: deep
  highlight:
    lineNos: false

security:
  _merge: deep

sitemap:
  _merge: deep
  changefreq: weekly
  priority: 0.5

cascade:
  - target:
      path: /post/**
    params:
      commentable: false # Como você removeu o Giscus, deixei false
  - target:
      path: /docs/**
    params:
      commentable: false